@font-face {
	font-family: GT;
	font-display: swap;
	src: url("../fonts/GT-Walsheim-LC-Bold-Oblique.woff2") format("woff2"), url("../fonts/GT-Walsheim-LC-Bold-Oblique.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: GT;
	font-display: swap;
	src: url("../fonts/GT-Walsheim-LC-Bold.woff2") format("woff2"), url("../fonts/GT-Walsheim-LC-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: GT;
	font-display: swap;
	src: url("../fonts/GT-Walsheim-LC-Medium-Oblique.woff2") format("woff2"), url("../fonts/GT-Walsheim-LC-Medium-Oblique.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: GT;
	font-display: swap;
	src: url("../fonts/GT-Walsheim-LC-Regular.woff2") format("woff2"), url("../fonts/GT-Walsheim-LC-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GT;
	font-display: swap;
	src: url("../fonts/GT-Walsheim-LC-Regular-Oblique.woff2") format("woff2"), url("../fonts/GT-Walsheim-LC-Regular-Oblique.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GT;
	font-display: swap;
	src: url("../fonts/GT-Walsheim-LC-Medium.woff2") format("woff2"), url("../fonts/GT-Walsheim-LC-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Rosa ASQD;
	font-display: swap;
	src: url("../fonts/Rosa ASQD.woff2") format("woff2"), url("../fonts/Rosa ASQD.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
