// Заголовки, загальні БЕМ блоки та інше...

/*   -- FILTERS --
white:   
filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

mainColor #101820 (black)
filter: invert(6%) sepia(30%) saturate(842%) hue-rotate(169deg) brightness(98%) contrast(94%);

gray_dark #7B949D 
filter: invert(69%) sepia(18%) saturate(389%) hue-rotate(150deg) brightness(80%) contrast(79%);
*/

.title-main {
  font-weight: 700;
  @include adaptiveValue("font-size", 96, 38);
  line-height: calc(110/96);
}
.title-second {
  font-weight: 700;
  @include adaptiveValue("font-size", 64, 28);
  line-height: calc(74/64);
}
.title-second-b {
  font-weight: 700;
  @include adaptiveValue("font-size", 64, 24);
  line-height: calc(74/64);
}
.title-third {
  font-weight: 700;
  color: white;
  @include adaptiveValue("font-size", 36, 32, 0, 1920, 1366);
  @include adaptiveValue("font-size", 32, 18, 3, 768, 320);
  line-height: calc(42/36);
}
.title-fourth {
  font-weight: 700;
  @include adaptiveValue("font-size", 48, 28, 0, 768,320);
  line-height: calc(56/48);
}
.text-second {
  font-weight: 500;
  @include adaptiveValue("font-size", 36, 32, 0, 1920, 1366);
  @include adaptiveValue("font-size", 32, 18, 3, 768, 320);
  line-height: calc(42/36);
  color: $blue_100;
  text-align: center;
}
.text-third {
  font-weight: 500;
  @include adaptiveValue("font-size", 24, 24, 0, 1920, 480);
  @include adaptiveValue("font-size", 24, 16, 3, 480, 320);
  line-height: calc(26/24);
}
// --- mouse-wheel =============================
.mouse-wheel {
  // .mouse-wheel__body
  &__body {
    position: relative;
    width: rem(40);
  }
  // .mouse-wheel__mouse
  &__mouse {
  }
  // .mouse-wheel__wheel
  &__wheel {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.image-anim {
position: fixed;
width: 100%;
height: 100%;
pointer-events: none;
background-color: $mainColor;
overflow: hidden;
  &._anim-main {
    .image-anim__img {
      transform: translate(11%, 44%);
      @media (max-width: 992px) {
        transform: translate(0%, 38%);
      }      
      @media (max-width: $mobile) {
        transform: translate(0%, 51%);
      }      
      @media (max-width: $mobileXS) {
        transform: translate(0%, 58%);
      }      
    }
  }
  &._anim-focus {
    .image-anim__img {
      transform: translate(11%, 0%);
      @media (max-width: 992px) {
        transform: translate(0%, 0%);
      } 
      @media (max-width: $mobile) {
        transform: translate(0%, 5%);
      } 
      @media (max-width: $mobileXS) {
        transform: translate(0%, -2%);
      } 
    }
  }
  &._anim-integrations {
    .image-anim__img {
      transform: translate(11%, -50%);
      @media (max-width: 992px) {
        transform: translate(0%, -50%);
      } 
      @media (max-width: $mobileXS) {
        transform: translate(0%, -34%);
      } 
    }
  }
  // .image-anim__img
  &__img {
    position: absolute;
    width: 80%;
    height: auto;
    transform: translate(11%, -90%);
    transition: transform 1.2s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
    @media (max-width: 992px) {
      left: -12%;
      width: 120%;
      transform: translate(0%, -90%);
    } 
    @media (max-width:$mobileSmall){
      left: -18%;
      width: 140%;
    }
  }
}


.block-info {
  // .block-info__title
  &__title {
    color: $mainColor;
    margin-bottom: rem(32);
    @media (max-width: 1200px) {
      text-align: center;
    }
  }
  // .block-info__texts
  &__texts {
    color: $gray_dark;
  }
  // .block-info__txt
  &__txt {
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }
  // .block-info__txt-mob
  &__txt-mob {
    display: none;
    @media (max-width: 1200px) {
      display: block;
      text-align: center;
    }
  }
}
.progress-line {
  position: absolute;
  left: rem(32);
  bottom: rem(122);
  width: 100%;
  max-width: rem(268);
  height: rem(2);
  display: flex;
  gap: rem(4);
  @media (max-width: 1200px) {
    display: none;
  }
  // .progress-line__line
  &__line {
    height: rem(2);
    width: rem(64);
    background-color: $gray_middle;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: rem(2);
      z-index: 2;
      background-color: $mainColor;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
    &._active {
      &::before {
        opacity: 1;
      }
    }
    &:nth-child(1) {}
    &:nth-child(2) {}
    &:nth-child(3) {
      width: rem(30);
    }
    &:nth-child(4) {
      width: rem(30);
    }
    &:nth-child(5) {}
  }
}