// Заголовки, загальні БЕМ блоки та інше...
.title-main {
  font-weight: 700;
  // font-size: rem(96);
  @include adaptiveValue("font-size", 96, 40);
  line-height: calc(110/96);
}
.title-second {
  font-weight: 700;
  @include adaptiveValue("font-size", 64, 28);
  line-height: calc(74/64);
}
.title-third {
  font-weight: 700;
  @include adaptiveValue("font-size", 36, 18);
  line-height: calc(42/36);
}

// --- mouse-wheel =============================
.mouse-wheel {
  // .mouse-wheel__body
  &__body {
    position: relative;
    width: rem(40);
  }
  // .mouse-wheel__mouse
  &__mouse {
  }
  // .mouse-wheel__wheel
  &__wheel {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
