.title-main {
  font-weight: 700;
  @include adaptiveValue("font-size", 96, 38);
  line-height: calc(110/96);
}
.title-second {
  font-weight: 700;
  @include adaptiveValue("font-size", 64, 28);
  line-height: calc(74/64);
}
.title-second-b {
  font-weight: 700;
  @include adaptiveValue("font-size", 64, 24);
  line-height: calc(74/64);
}
.title-third {
  font-weight: 700;
  color: white;
  @include adaptiveValue("font-size", 36, 32, 0, 1920, 1366);
  @include adaptiveValue("font-size", 32, 18, 3, 768, 320);
  line-height: calc(42/36);
}
.title-fourth {
  font-weight: 700;
  @include adaptiveValue("font-size", 48, 28, 0, 768,320);
  line-height: calc(56/48);
}
.text-second {
  font-weight: 500;
  @include adaptiveValue("font-size", 36, 32, 0, 1920, 1366);
  @include adaptiveValue("font-size", 32, 18, 3, 768, 320);
  line-height: calc(42/36);
  color: $blue_100;
  text-align: center;
}
.text-third {
  font-weight: 500;
  @include adaptiveValue("font-size", 24, 16, 0, 768, 320);
  line-height: calc(26/24);
}

.mouse-wheel {
  // .mouse-wheel__body
  &__body {
    position: relative;
    width: rem(40);
  }
  // .mouse-wheel__mouse
  &__mouse {
  }
  // .mouse-wheel__wheel
  &__wheel {
    position: absolute;
    top: 10%;
    left: 39%;
  }
}

// @keyframes mouse-move {
//   0% {
//       transform: translateY(0%);
//   }
//   100% {
//       transform: translateY(45px);
//   }
// }
// @keyframes wheel-move {
//   0% {
//       transform: translateY(0%);
//   }
//   100% {
//       transform: translateY(45px);
//   }
// }


.previous-section {}
.active-section {}
.next-section {}

// HERO ANIMATION == section 1-3 =====================
.image-anim {
position: fixed;
width: 100%;
height: 100%;
pointer-events: none;
overflow: hidden;
visibility: hidden;
display: none;

  &._anim-main {
    visibility: visible;
    display: block;
    .image-anim__item {
      transform: translate(11%, 18%);
      @media (max-width: 992px) {
        transform: translate(0%, 38%);
      }      
      @media (max-width: $mobile) {
        transform: translate(0%, 51%);
      }      
      @media (max-width: $mobileXS) {
        transform: translate(0%, 58%);
      }      
    }
  }
  &._anim-focus {
    visibility: visible;
    display: block;
    .image-anim__item {
      transform: translate(11%, -15%);
      @media (max-width: 992px) {
        transform: translate(0%, 0%);
      } 
      @media (max-width: $mobile) {
        transform: translate(0%, 5%);
      } 
      @media (max-width: $mobileXS) {
        transform: translate(0%, -2%);
      } 
    }
  }
  &._anim-integrations {
    visibility: visible;
    display: block;
    .image-anim__item {
      transform: translate(11%, -50%);
      @media (max-width: 992px) {
        transform: translate(0%, -50%);
      } 
      @media (max-width: $mobileXS) {
        transform: translate(0%, -34%);
      } 
    }
  }
  // .image-anim__item
  &__item {
    position: absolute;
    width: 80%;
    height: auto;
    transform: translate(11%, -90%);
    transition: transform 0.5s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;

    @media (max-width: 992px) {
      left: -12%;
      width: 120%;
      transform: translate(0%, -90%);
    } 
    @media (max-width:$mobileSmall){
      left: -18%;
      width: 140%;
    }
  }
}

.animation {
  // .animation__webm-pc
  &__webm-pc {
    display: block;
    @media (max-width:$mobile){
        display: none;
    }
  }
  // .animation__webm-mob
  &__webm-mob {
    display: none;
    @media (max-width:$mobile){
       display: block; 
    }
  }
  // .animation__apng-pc
  &__apng-pc {
    display: block;
    @media (max-width:$mobile){
      display: none;
  }
  }
  // .animation__apng-mob
  &__apng-mob {
    display: none;
    @media (max-width:$mobile){
      display: block; 
   }
  }
}
//-------------------------------------------------------

.block-info {
  span {
    display: inline-block;
  }
  // .block-info__title
  &__title {
    color: $mainColor;
    margin-bottom: rem(32);
    overflow: hidden;
    span {
      transform: translateY(200%);
    }
    @media (max-width: 1200px) {
      text-align: center;
    }
  }
  // .block-info__texts
  &__texts {
    color: $gray_dark;
    span {
      transform: translateY(100%);
      opacity: 0;
    }
    @media (max-width: 1200px){
      text-align: center;
    }
  }
  // .block-info__txt
  &__txt {
    @media (max-width: 1200px){
      text-align: center;
    }
  }
}
.progress-line {
  position: absolute;
  left: rem(32);
  bottom: rem(122);
  width: 100%;
  max-width: rem(268);
  height: rem(2);
  display: flex;
  gap: rem(4);
  @media (max-width: 1500px) {
    @media (max-height: 900px) {
      bottom: rem(70)
    }
  }
  @media (max-width: 1200px) {
    display: none;
  }
  // .progress-line__line
  &__line {
    height: rem(2);
    width: rem(64);
    background-color: $gray_middle;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: rem(2);
      z-index: 2;
      background-color: $mainColor;
      transition: all 4s linear 0.3s;
    }

    &:nth-child(1) {}
    &:nth-child(2) {}
    &:nth-child(3) {
      width: rem(30);
    }
    &:nth-child(4) {
      width: rem(30);
    }
    &:nth-child(5) {}
  }
}

// == dropdown list form intup ===========
.iti__country {
  padding: rem(12) rem(24);
  display: grid;
  grid-template-columns: auto 1fr auto;
  @media (max-width:$mobileSmall){
    padding: rem(12) rem(16);
  }
}
.iti__selected-dial-code {
  font-family: 'GT', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: rem(20);
  line-height: calc(24/20);
  color: #101820;
  padding-top: 2px;
}
.iti--separate-dial-code .iti__selected-flag {
  background-color: unset;
}
.iti--separate-dial-code .iti__selected-dial-code {
  margin-left: rem(12); }
.iti__country-name {
  font-family: 'GT', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: rem(20);
  line-height: calc(24/20);
  @media (max-width:$mobileSmall){
     font-size: rem(16); 
  }
}
.iti__flag-box {
  border-radius: 50%;
  overflow: hidden;
  width: rem(16);
  height: rem(16);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: rem(16);
  .iti__flag-box {
    object-fit: cover;
  }
}
.iti__dial-code {
  font-family: 'GT', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: rem(20);
  line-height: calc(24/20);
  color: #7B949D;
  @media (max-width:$mobileSmall){
     font-size: rem(16); 
  }
}
.iti__flag-container {
  padding: rem(11) rem(12) rem(11) rem(12);
  @media (max-width:$mobileXS){
     padding: rem(7) rem(8) rem(7) rem(8); 
  }
}
.iti__selected-flag {
  // padding: 0;
  // width: 16px;
  // height: 16px;
  // border-radius: 50%;
  // overflow: hidden;

  .iti__flag {
    object-fit: cover;
    transform: scale(1.4);
    
  }
}
.iti__flag {
  transform: scale(1.4);

  // width: 16px;
  // height: 16px;
  // border-radius: 50%;
  // overflow: hidden;
}
.iti__arrow {
  display: none;
}

.iti__country-list {
  position: absolute;
  max-height: rem(480);
  background: #FFFFFF;
  box-shadow: 0px 0px rem(25) rgba(123, 148, 157, 0.5);
  border-radius: rem(5);
  border: unset;
  top: rem(46);
  left: rem(2);
  white-space: unset;
  width: rem(430);
  z-index: 5;
  overflow-y: scroll;
  &::-webkit-scrollbar { width: 0; }
     -ms-overflow-style: none;
     -webkit-overflow-scrolling: touch;
     @media (max-width: 1200px) {
      left: rem(5);
			width: rem(545);
		}
		@media (max-width: 860px) {
      left: rem(3);
			max-width: rem(425);
		}
    @media (max-width:510px){
       max-width: rem(400); 
    }
    @media (max-width:$mobileSmall){
        position: fixed;
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
    }
}