// === --- MAIN (1) --- ===================================================
.main {
  background-color: $mainColor;
  @include adaptiveValue("padding-top", 32, 16, 0, 768, 320);
  @include adaptiveValue("padding-bottom", 32, 16, 0, 768, 320);
  // .main__container
  &__container {
  }
  // .main__logo
  &__logo {
    display: flex;
    flex-direction: column;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(255deg) brightness(110%) contrast(101%);
    img {
      height: rem(52);
      @media (max-width:$mobileXS){
          height: rem(32);
      };
    }
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
    margin-top: rem(38);
    @media (max-width:$netbook){
       margin-top: rem(38); 
    }
    @media (max-width:$mobileSmall){
       margin-top: rem(4); 
    }
  }
  // .main__title
  &__title {
    color: white;
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 24);
    }
  }
  // .main__text
  &__text {
    color: $gray_middle;
    text-align: center;
    font-weight: 500;
    font-size: rem(48);
    @include adaptiveValue("font-size", 48, 24);
    line-height: calc(56/48);
  }
  // .main__mouse-wheel
  &__mouse-wheel {
    position: absolute;
    top: 60%;
    right: rem(144);
    .touch & {
      display: none;
    }
  }
}

// === --- FOCUS (2) --- ===================================================
.focus {
   background-color: $mainColor;
   @include adaptiveValue("padding-top", 104, 56, 0, 768, 320);
   @include adaptiveValue("padding-bottom", 32, 16, 0, 768, 320);
  // .focus__container
  &__container {
    display: flex;
    align-items: center;
    min-height: 100%;
    @media (max-width:$mobile){
        flex-direction: column;
        justify-content: center;
    }
    @media (max-width:$mobileSmall){
        padding-bottom: 32px;
        justify-content: flex-end;
    }
  }
  // .focus__item
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(36);
    @media (max-width:$mobile){
       row-gap: rem(32); 
       grid-template-columns: 1fr;
    }
  }
  // .focus__item
  &__item {
    width: 100%;
    min-height: 100%;
    background: rgba(16, 24, 32, 0.75);
    border: rem(1) solid $gray_dark;
    backdrop-filter: blur(8px);
    border-radius: rem(30);
    @include adaptiveValue("padding-top", 122, 32);
    @include adaptiveValue("padding-bottom", 122, 32);
    @include adaptiveValue("padding-left", 122, 32);
    @include adaptiveValue("padding-right", 122, 32);
    @include adaptiveValue("font-size", 36, 32, 0, 1920, 1366);
    @include adaptiveValue("font-size", 32, 18, 3, 768, 320);
  }
  // .focus__text
  &__text {
    color: $gray_light;
    text-align: center;
    font-weight: 500;
   
    line-height: calc(42/36);
    span {
      font-weight: 700;
    }

  }
}

// === --- integrations (3) --- ===================================================
.integrations {
  background-color: $mainColor;
   @include adaptiveValue("padding-top", 104, 56, 0, 768, 320);
   @include adaptiveValue("padding-bottom", 32, 16, 0, 768, 320);
  // .integrations__container
  &__container {
    display: flex;
    align-items: flex-end;
    min-height: 100%;
  }
  // .integrations__content
  &__content {
    text-align: center;
    @include adaptiveValue("padding-bottom", 64, 0, 0, 1920, 1366);
  }
  // .integrations__title
  &__title {
    color: white;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  // .integrations__text
  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 24, 16, 0, 768, 320);
    line-height: calc(26/24);
    color: $gray_middle;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  // .integrations__block
  &__block {
    display: flex;
    justify-content: center;
    @include adaptiveValue("column-gap", 64, 0);
    @media (max-width:$mobile){
       flex-direction: column; 
       row-gap: 16px;
    }
  }
  // .integrations__item
  &__item {
    @include adaptiveValue("font-size", 32, 24, 0, 768, 320);
    color: $gray_middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
    span {
      display: inline-block;
      font-style: italic;
      font-weight: 700;
      color: #0062EB;
    }
    @media (max-width:$mobile){
      flex-direction: column; 
   }
  }
}

// === --- awesome (4) --- ===================================================
.awesome {
  background-color: $blue_main;
  @include adaptiveValue("padding-top", 104, 56, 0, 768, 320);
  @include adaptiveValue("padding-bottom", 32, 16, 0, 768, 320);
  // .awesome__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    @media (max-width:$mobile){
       justify-content: unset; 
    }
  }
  // .awesome__content
  &__content {
    @include adaptiveValue("margin-top", 196, 96, 3, 768, 320);
  }
  // .awesome__title
  &__title {
    text-align: center;
    color: white;
    @include adaptiveValue("margin-bottom", 64, 32, 0, 1920, 1366);
  }
  // .awesome__mouse-wheel
  &__mouse-wheel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// === --- industries (5) --- ===================================================
.industries {
  background-color: $blue_main;
  @include adaptiveValue("padding-top", 104, 56, 0, 768, 320);
  @include adaptiveValue("padding-bottom", 32, 16, 0, 768, 320);
  // .industries__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    @media (max-width:$mobile){
        align-items: center;
        justify-content: unset;
    }
  }
  // .industries__content
  &__content {
    display: flex;
  }
  // .industries__block
  &__block {
    background: rgba(0, 98, 235, 0.75);
    border: rem(1) solid $blue_100;
    backdrop-filter: blur(8px);
    border-radius: rem(30);
    @include adaptiveValue("padding-top", 122, 64, 0, 1920, 1366);
    @include adaptiveValue("padding-top", 64, 32, 3, 1366, 768);
    @include adaptiveValue("padding-bottom", 122, 64, 0, 1920, 1366);
    @include adaptiveValue("padding-bottom", 64, 32, 3, 1366, 768);
    @include adaptiveValue("padding-left", 122, 64, 0, 1920, 1366);
    @include adaptiveValue("padding-left", 64, 32, 3, 1366, 768);
    @include adaptiveValue("padding-right", 122, 64, 0, 1920, 1366);
    @include adaptiveValue("padding-right", 64, 32, 3, 1366, 768);
    @media (max-width:$mobile){
       margin-top: 32px; 
    }
  }
  // .industries__body
  &__body{
    max-width: rem(566);
  }
  // .industries__title
  &__title {
    color: white;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  // .industries__text
  &__text {
    color: $blue_100;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

// === --- choose (6) --- ===================================================
.choose {
  background-color: $blue_main;
  @include adaptiveValue("padding-top", 104, 56, 0, 768, 320);
  @include adaptiveValue("padding-bottom", 32, 16, 0, 768, 320);
  // .choose__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }
  // .choose__title
  &__title {
    color: $blue_100;
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 96, 32, 0, 1920, 1024);
      @media (max-width: 375px) {
        @media (max-height: 615px){
            margin-bottom: rem(16);
        }
      }
    }
  }
  // .choose__content
  &__content {
    display: flex;
    gap: rem(32);
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  // .choose__block
  &__block {
    background: rgba(0, 98, 235, 0.75);
    border: rem(1) solid $blue_100;
    backdrop-filter: blur(8px);
    border-radius: rem(30);
    width: 100%;
    cursor: pointer;
    @include adaptiveValue("padding-top", 122, 64, 0, 1920, 1366);
    @include adaptiveValue("padding-top", 64, 32, 3, 1366, 768);
    @include adaptiveValue("padding-bottom", 122, 64, 0, 1920, 1366);
    @include adaptiveValue("padding-bottom", 64, 32, 3, 1366, 768);
    @include adaptiveValue("padding-left", 122, 64, 0, 1920, 1366);
    @include adaptiveValue("padding-left", 64, 32, 3, 1366, 768);
    @include adaptiveValue("padding-right", 122, 64, 0, 1920, 1366);
    @include adaptiveValue("padding-right", 64, 32, 3, 1366, 768);
    @media (any-hover: hover){
      &:hover {
        .choose__img {
          @media (min-width: 1366px) {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    @media (max-width: 375px) {
      @media (max-height: 615px){
          padding: rem(16);
      }
    }
  }
  // .choose__head
  &__head {
    position: relative;
    &:not(:last-child) {
      margin-bottom: rem(32);
      @media (max-width: 375px) {
        @media (max-height: 615px){
            margin-bottom: rem(16);
        }
      }
    }
  }
  // .choose__subtitle
  &__subtitle {
    color: white;
    text-align: center;
    @media (max-width: 375px) {
      @media (max-height: 615px){
          margin-bottom: rem(16);
      }
    }
  }
  // .choose__text
  &__text {
    color: $blue_100;
  }
  // .choose__img
  &__img {
    @media (min-width: 1366px) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      width: rem(71);
      height: rem(71);
      transition: all 0.3s ease-out;
      &.img-choose-one {
        left: 3%;
      }
      &.img-choose-sec {
        left: -12%;
      }
    }
    @media (max-width: 1366px) {
      display: none;
    }
  }
}

// === --- manage (7) --- ===================================================

// === --- options (8) --- ===================================================

// === --- custom (9) --- ===================================================

// === --- api (10) --- ===================================================

// === --- routing (11) --- ===================================================

// === --- hold-on (12) --- ===================================================

// === --- product (13) --- ===================================================

// === --- technologies (14) --- ===================================================

// === --- result (15) --- ===================================================

// === --- request (16) --- ===================================================

// === --- 404 PAGE (18) --- ===================================================

