// === --- MAIN (1) --- ===================================================
.main {
  background-color: $mainColor;
  padding: rem(32) 0;
  // .main__container
  &__container {
  }
  // .main__logo
  &__logo {
    display: flex;
    flex-direction: column;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(255deg) brightness(110%) contrast(101%);
    img {
      height: rem(52);
      @media (max-width:$mobileXS){
          height: rem(32);
      };
    }
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
    margin-top: rem(38);
    @media (max-width:$netbook){
       margin-top: rem(38); 
    }
    @media (max-width:$mobileSmall){
       margin-top: rem(4); 
    }
  }
  // .main__title
  &__title {
    color: white;
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 24);
    }
  }
  // .main__text
  &__text {
    color: $gray_middle;
    text-align: center;
    font-weight: 500;
    font-size: rem(48);
    @include adaptiveValue("font-size", 48, 24);
    line-height: calc(56/48);
  }
  // .main__mouse-wheel
  &__mouse-wheel {
    position: absolute;
    top: 60%;
    right: rem(144);
    .touch & {
      display: none;
    }
  }
}



// === --- FOCUS (2) --- ===================================================

// === --- integrations (3) --- ===================================================

// === --- awesome (4) --- ===================================================

// === --- industries (5) --- ===================================================

// === --- choose (6) --- ===================================================

// === --- manage (7) --- ===================================================

// === --- options (8) --- ===================================================

// === --- custom (9) --- ===================================================

// === --- api (10) --- ===================================================

// === --- routing (11) --- ===================================================

// === --- hold-on (12) --- ===================================================

// === --- product (13) --- ===================================================

// === --- technologies (14) --- ===================================================

// === --- result (15) --- ===================================================

// === --- request (16) --- ===================================================

// === --- 404 PAGE (18) --- ===================================================

