// === --- MAIN (1) --- ===================================================
.main {
  background-color: $mainColor;
  padding-top: rem(70);
  @media (max-width:$netbook){
     padding-top: rem(38); 
  }
  @media (max-width:$mobileXS){
     padding-top: rem(20); 
  }
  // .main__container
  &__container {
  }
  // .main__logo
  &__logo {
    color: white;
    font-family: 'Rosa ASQD', sans-serif;
    font-size: rem(74);
    line-height: 0.7;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }
  // .main__title
  &__title {
    color: white;
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 24);
    }
  }
  // .main__text
  &__text {
    color: $gray_middle;
    text-align: center;
    font-weight: 500;
    font-size: rem(48);
    line-height: calc(56/48);
    @media (max-width:$mobileXS){
      font-size: rem(24);
      line-height: calc(26/24); 
    }
  }
  // .main__mouse-wheel
  &__mouse-wheel {
    position: absolute;
    top: 50%;
    right: rem(144);
    transform: translateY(-50%);
    .touch & {
      display: none;
    }
  }
}



// === --- FOCUS (2) --- ===================================================

// === --- integrations (3) --- ===================================================

// === --- awesome (4) --- ===================================================

// === --- industries (5) --- ===================================================

// === --- choose (6) --- ===================================================

// === --- manage (7) --- ===================================================

// === --- options (8) --- ===================================================

// === --- custom (9) --- ===================================================

// === --- api (10) --- ===================================================

// === --- routing (11) --- ===================================================

// === --- hold-on (12) --- ===================================================

// === --- product (13) --- ===================================================

// === --- technologies (14) --- ===================================================

// === --- result (15) --- ===================================================

// === --- request (16) --- ===================================================

// === --- 404 PAGE (18) --- ===================================================

